a {
    color: var(--color-text);
    text-decoration: none;
    display: flex;
}
a > span {
    flex-grow: 1;
}
a > span > span {
    display: block;
}
.sku_match {
    color: var(--color-primary);
}
