div:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 0.75em;
    height: 0.75em;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -3px;
}
.green:before {
    background-color: green;
}
.yellow:before {
    background-color: gold;
}
.red:before {
    background-color: red;
}
.out_of_stock:before {
    background-color: grey;
}
